body {
    background-color: #ffffff;
}

.cards {
    margin-top: -5%;
}

#navbar-itens {
    margin-top: 1%;
    padding-bottom: 60px;
}

.card-header {
    display: flex;
    align-items: center;
}

div.card-header i {
    float: right;
    margin-left: auto;
}

.group {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(145, 145, 145);
    border-radius: 5px;
    border-top: rgb(145, 145, 145) 1.5px solid;
}

.bi {
    font-size: 1rem;
    color: rgb(58, 127, 255);
}

.bi-bar-chart-line-fill {
    font-size: 3rem;
    color: white;
}

.form-label {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #navbar-itens {
        padding-bottom: 0;
    }

    .card {
        margin: auto;
        max-width: 100%;
        max-height: 90%;
    }

    .cards {
        margin-top: 0%;
        padding-top: 10px;
    }

    .card-title {
        margin: 0;
        padding: 0;
    }

    div.card-body h4 {
        margin: 0;
        padding: 0;
    }
}