.navbarTop {
    position: absolute;
    z-index: 0;
}

#navbar-itens {
    margin-top: 1%;
    align-items: center;
    padding-bottom: 50px;
}

/* style icons in cards */
.card-header {
    display: flex;
    align-items: center;
}

i{
    float: right;
    margin-left: auto;
}
.card{
    width: 100%;
}


/* .card{
    position: fixed;
} */

/* #cards{
    position: static;
    width: 100%;
}

table{
    position: static;
} */

/* html{
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
} */