#navbar-itens {
    margin-top: 1%;
    padding-bottom: 60px;
}

/* style icons in cards */
.card-header {
    display: flex;
    align-items: center;
}

i{
    float: right;
    margin-left: auto;
}


.fa-circle-down{
    color:#FF6347;
}
.fa-circle-up{
    color:green
}

.fa-sack-dollar{
    color: gold;
}

.cards{
    margin-top: -4%;
}

.navbar{
    border-radius: 5px;
}
form{
 border-radius: 5px;
}

